<a href="https://colab.research.google.com/github/malh718/cloud_db_mgmt_pooling_migrations/blob/main/GCPflask_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
!sudo apt-get install python3-dev default-libmysqlclient-dev

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
default-libmysqlclient-dev is already the newest version (1.0.8).
python3-dev is already the newest version (3.10.6-1~22.04).
0 upgraded, 0 newly installed, 0 to remove and 19 not upgraded.

In [25]:
!pip install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.10/dist-packages (1.1.0)

In [26]:
from sqlalchemy import create_engine

In [27]:
MYSQL_HOSTNAME = '34.31.63.12'

In [28]:
MYSQL_USER = 'root'

In [29]:
MYSQL_PASSWORD = 'DTVdjs28'

In [32]:
MYSQL_DATABASE = 'patients'

In [43]:
connection_string = f'mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOSTNAME}/{MYSQL_DATABASE}'

In [34]:
db = create_engine(connection_string)

In [35]:
import pandas as pd

In [36]:
from sqlalchemy import create_engine, text

In [37]:
query = """SELECT * FROM patients limit 10;""".format(MYSQL_DATABASE)

In [38]:
events_df = pd.read_sql(query, con=db)

AttributeError: ignored

In [41]:
events_df

NameError: ignored